.edubox-hero {
  background: #2E97DE;
  min-height: 600px;
  background-size: cover;
  margin-top: -3em;
}

.hero-container {
  color: #fff;
  padding-top: 5rem;

  .hero-title {
    font-family: AvenirNext-Bold;
    font-size: 48px;
    color: #FFFFFF;
    letter-spacing: 0;
    margin-bottom: 1rem;
    small {
      font-family: AvenirNext-Medium;
      font-size: 30px;
      color: #FFFFFF;
      letter-spacing: 0;
    }
  }

  .hero-image {
    margin-top: 2rem;
    img {
      display: inline-block;
      margin-bottom: 25px;
      max-height: 450px;
    }
  }
}

.section-information {
  margin: 5rem 0;
  .img-icon {
    width: 60%;
  }
  h3 {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
  .features-content {
    ul {
      list-style-type: none;
      padding-left: 0;
    }
  }
}

.section-testimonial {
  border-top: 1px solid #eee;

  .testimonial-container {
    background-color: white;
    width: 100%;
  }

  .cd-testimonials-wrapper {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    background-color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 100px 0px 40px;
    z-index: 1;
  }

  .cd-testimonials-wrapper h2 {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 60px;
    margin: 0 auto;
  }

  @media only screen and (min-width: 768px) {
    .cd-testimonials-wrapper {
      padding: 170px 0px 60px;
    }
    .cd-testimonials-wrapper h2 {
      text-align: center;
      position: absolute;
      width: 100%;
      top: 100px;
      margin: 0 auto;
    }
  }

  .testimonial-content {
    max-width: 1000px;
    width: 80%;
    margin: 0 auto 30px auto;
  }

  .cd-testimonials {
    color: rgba(130, 132, 139, 1);
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .cd-testimonials > li {
    position: absolute;
    opacity: 0;
  }

  .cd-testimonials > li:first-child {
    position: relative;
    opacity: 1;
  }

  .testimonial-content p {
    font-style: italic;
    line-height: 1.4;
    margin-bottom: 1em;
    padding: 0 14px;
  }

  @media only screen and (min-width: 768px) {
    .testimonial-content p {
      font-size: 20px;
    }
  }

  @media only screen and (min-width: 1170px) {
    .testimonial-content p {
      font-size: 24px;
      line-height: 1.6;
    }
  }

  .cd-author-info span p {
    display: inline-block;
    font-size: 14px;
    padding-left: 0;
  }

  .cd-author-info span p a {
    color: rgba(126, 129, 136, 1);
  }

  .cd-author img,
  .cd-author .cd-author-info {
    display: inline-block;
    vertical-align: top;
  }

  .cd-author img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
  }

  .cd-author .cd-author-info {
    text-align: left;
    line-height: 1
  }

  .cd-author .cd-author-info li:first-child {
    font-size: 14px;
    margin-top: 4px;
  }

  .cd-author .cd-author-info li:last-child {
    font-size: 12px;
    color: #6b6b70;
  }

  ul.cd-author-info {
    list-style: none;
  }

  ul.cd-author-info li span:before {
    font-family: 'FontAwesome';
    content: '\f099';
    font-size: 24px;
    display: inline-block;
    position: absolute;
    margin-top: 2px;
    font-style: normal;
    margin-left: -30px;
  }

  ul.cd-author-info li span {
    font-size: 14px;
    padding-left: 30px;
    line-height: 24px;
    font-style: italic;
  }

  @media only screen and (min-width: 768px) {
    .cd-author img {
      width: 58px;
      height: 58px;
    }
    .cd-author .cd-author-info {
      line-height: 1.4;
    }
    .cd-author .cd-author-info li:first-child {
      font-size: 18px;
    }
  }

  @media only screen and (max-width: 320px) {}

  .flex-direction-nav a {
    text-decoration: none;
    display: block;
    width: 50px;
    height: 100%;
    margin: 0px 0 0;
    position: absolute;
    z-index: 9999;
    top: 0;
    overflow: hidden;
    opacity: 1;
    background: white;
    cursor: pointer;
    color: rgba(255, 255, 255, .5);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .flex-direction-nav a:before {
    font-size: 40px;
    content: url('https://dl.dropboxusercontent.com/u/97609687/codepen/chevronleft.svg');
    position: absolute;
    display: block;
    top: 50%;
    padding: 14px 10px 14px 10px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .flex-direction-nav a.flex-next:before {
    content: url('https://dl.dropboxusercontent.com/u/97609687/codepen/chevronright.svg');
    padding: 14px 20px 14px 10px;
  }

  .flex-direction-nav .flex-prev {
    left: 0px;
  }

  .flex-direction-nav .flex-next {
    right: 0px;
    text-align: right;
  }

  .flexslider:hover .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 0px;
  }

  .flexslider:hover .flex-direction-nav .flex-prev:hover {
    opacity: 1;
  }

  .flexslider:hover .flex-direction-nav .flex-next {
    opacity: 1;
    right: 0px;
  }

  .flexslider:hover .flex-direction-nav .flex-next:hover {
    opacity: 1;
  }

  .flex-direction-nav .flex-disabled {
    opacity: 0!important;
    filter: alpha(opacity=0);
    cursor: default;
  }

  .flex-control-paging li a {
    width: 6px;
    height: 6px;
    display: block;
    background: #666;
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }

  .flex-control-paging li a:hover {
    background: #333;
    background: rgba(0, 0, 0, 0.7);
  }

  .flex-control-paging li a.flex-active {
    background: #000;
    background: rgba(2, 23, 31, 1);
    cursor: default;
  }

  .flex-control-nav {
    bottom: 30px;
    position: absolute;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 100%;
  }

  .flex-control-nav li {
    display: inline-block;
    padding: 0px 5px 0px 5px;
  }

  @media screen and (max-width: 767px) {
    .flex-direction-nav a {
      width: 30px;
    }
    .flex-direction-nav a:before {
      visibility: hidden;
    }
    .flex-direction-nav a:before {
      padding: 14px 0px 10px 0px;
    }
    .flex-direction-nav .flex-prev {
      left: 0px;
    }
    .flex-direction-nav .flex-next {
      right: 0px;
      text-align: right;
    }
    .flexslider:hover .flex-direction-nav .flex-prev {
      opacity: 1;
      left: 0px;
    }
    .flexslider:hover .flex-direction-nav .flex-prev:hover {
      opacity: 1;
    }
    .flexslider:hover .flex-direction-nav .flex-next {
      opacity: 1;
      right: 0px;
    }
    .flex-direction-nav {
      visibility: hidden;
    }
  }
}

.section-pricing-table {
  padding: 50px 0;
  padding-top: 0;
  .card-pricing {
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
  }
  .card-pricing:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  }
  .card-pricing .card-heading {
    padding: 20px 10px;
    color: #fff;
  }
  .card-pricing .card-heading .fa {
    margin-top: 10px;
    font-size: 58px;
  }
  .card-pricing .list-group-item {
    color: #777777;
    border-bottom: 1px solid rgba(250, 250, 250, 0.5);
  }
  .card-pricing .list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .card-pricing .list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }
  .card-pricing .card-body {
    background-color: #f0f0f0;
    font-size: 40px;
    color: #777777;
    padding: 20px;
    margin: 0px;
  }
}

.section-cta {
  padding: 100px 0;
  background: #fcfcfc;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}