.homepage-hero {
  background: #2E97DE;
  min-height: 600px;
  background-size: cover;
  margin-top: -3em;
}

.hero-container {
  color: #fff;
  padding-top: 5rem;

  .hero-title {
    font-family: AvenirNext-Bold;
    font-size: 48px;
    color: #FFFFFF;
    letter-spacing: 0;
    margin-bottom: 1rem;
    small {
      font-family: AvenirNext-Medium;
      font-size: 30px;
      color: #FFFFFF;
      letter-spacing: 0;
    }
  }

  .hero-image {
    margin-top: 2rem;
  }
}