.wrapper-navbar {
  margin-bottom: 3em;
}

.navbar-pinisi {
  background: #FFFFFF !important;
  box-shadow: 0 4px 4px 0 rgba(108,108,108,0.18);
  padding: 1.5rem 1rem;
  border-radius: 0;

  .custom-logo-link {
    @include respondto(md,lg) {
      background: #FFFFFF;
      box-shadow: 0 4px 4px 0 rgba(108, 108, 108, 0.18);
      padding: 15px;
      padding-top: 20px;
      position: absolute;
      top: -10px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    @include respondto(xs,sm) {
      display: block;
      width: 100%;
      text-align: center;
    }
  }
  #main-menu {
    @include respondto(md,lg) {
      margin-left: 10rem;
    }
    @include respondto(xs,sm) {
      text-align: center;
    }
  }

  .nav-link {
    font-size: 18px;
    color: #505050;
    letter-spacing: 0;
    @include respondto(md,lg) {
      margin-left: 1.25rem;
      margin-right: 1.25rem;
    }
  }
}