// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

#wrapper-footer {
  background-color: #FEFEFE;
  border: 1px solid #E1E1E1;
  color: #505050;
  letter-spacing: -0.7px;
  font-family: AvenirNext-Regular;
  font-size: 20px;
}